@page "/listtipolibro"
@using MiPrimeraAplicacionUsandoBlazor.Shared.Models
@inject HttpClient http

<h3>ListTipoLibro</h3>

@*@if (ListaTipoLibro == null)
{
	<h1>Cargando informacion .......</h1>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Descripción</th>
			</tr>
		</thead>
		<tbody>
			@foreach (TipoLibroCLS reg in ListaTipoLibro)
			{
				<tr>
					<td>@reg.IIDTIPOLIBRO</td>
					<td>@reg.NOMBRETIPOLIBRO</td>
					<td>@reg.DESCRIPCIONTIPOLIBRO</td>
				</tr>
			}
		</tbody>
	</table>
}*@

@{
	string[] cabecerasTabla = { "Id Tipo Libro", "Nombre", "Descripcion" };
}

<ListRazor 
		cabeceras=cabecerasTabla 
		lista=ListaTipoLibro 
		type="text"
		label="Ingrese tipo libro"
		eventBusqueda="BusquedaTipoLibro"/>

@code {


	private TipoLibroCLS[] ListaTipoLibro;

	protected override async Task OnInitializedAsync()
	{
		ListaTipoLibro = await http.GetFromJsonAsync<TipoLibroCLS[]>("api/TipoLibro/Get");
	}

	public async  Task BusquedaTipoLibro(string data)
	{
		ListaTipoLibro = await http.GetFromJsonAsync<TipoLibroCLS[]>("api/TipoLibro/Filtrar/"+data);
	}
}
